gunicorn==19.7.1
amqp==1.4.9
anyjson==0.3.3
asn1crypto==0.22.0
attrs==17.2.0
Automat==0.6.0
beautifulsoup4==4.6.0
billiard==3.3.0.23
boto==2.48.0
boto3==1.4.7
botocore==1.7.34
celery==3.1.25
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
codegen==1.0
constantly==15.1.0
cryptography==2.0.3
cssselect==1.0.1
decorator==4.1.2
Django==1.11.3
django-braces==1.11.0
django-celery==3.2.1
django-disqus==0.5
django-dynamic-scraper==0.13.0
django-embed-video==1.1.2
django-external-feed==0.1
django-feedparser==0.2.1
django-forms-bootstrap==3.1.0
django-knowledge==0.2.0
django-kombu==0.9.4
django-model-utils==3.0.0
django-paypal==0.3.6
django-ratings==0.3.7
django-star-ratings==0.5.6
django-storages==1.6.5
docutils==0.14
enum34==1.1.6
feedparser==5.2.1
funcsigs==1.0.2
future==0.15.2
futures==3.1.1
html5lib==0.999999999
hyperlink==17.3.0
idna==2.6
incremental==17.5.0
ipaddress==1.0.18
jmespath==0.9.3
jsonpath-rw==1.4.0
kombu==3.0.37
lxml==3.8.0
Markdown==2.6.8
markup==0.2
mechanize==0.3.5
mock==2.0.0
parsel==1.2.0
patterns==0.3
pbr==3.1.1
Pillow==3.4.2
ply==3.10
pyasn1==0.3.2
pyasn1-modules==0.0.11
pycparser==2.18
PyDispatcher==2.0.5
pyOpenSSL==17.2.0
python-dateutil==2.6.1
pytz==2017.2
queuelib==1.4.2
requests==2.18.4
s3transfer==0.1.11
Scrapy==1.0.3
scrapy-djangoitem==1.0.0
scrapy-splash==0.7.2
service-identity==17.0.0
six==1.10.0
stripe==1.65.0
Twisted==17.5.0
urllib3==1.22
w3lib==1.18.0
webencodings==0.5.1
whitenoise==3.3.1
zope.interface==4.4.2
