{% extends "base.html" %}
{% block carousel %}
{% endblock %}
{% block reviewscroll %}
{% endblock %}
{% block video %}
{% endblock %}
{% block qavids %}
{% endblock %}
{% block login %}
{% endblock %}
{% block content %}
        <div class="row">
            <div class="col-md-10 col-sm-9">
                 <div>
                     <a href="/media/{{ post.post_image }}">
                         <img id="post-img" src="/media/{{ post.post_image }}">
                     </a>
                 </div>
                 <h3 id="posttitle2">{{ post.title }}</h3>
                <div class="row">
                    <div id="postxt2"class="col-xs-9">
                        <p>{{ post.content|linebreaks }}</p>
                        <button class="btn btn-default" onclick="location.href='/QA_blog'">Back</button>
                        <br>
                        <br>
                        <p><strong>Writen by:&nbsp;</strong>{{post.writer}}</p>
                        <p>{{ post.published_date }} | <strong>Views</strong> {{ post.views }} | <strong>Tag</strong> {{ post.tag }}</p>
                        {% load disqus_tags %}
                        {% set_disqus_title post.title %}
                        {% disqus_show_comments %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
