{% extends "base.html" %}
{% block title %}<strong><h4 id="qatitle">Gaming Guides</h4></strong>{% endblock %}
{% block carousel %}
{% endblock %}
{% block vscroll %}
{% endblock %}
{% block reviewscroll %}
{% endblock %}
{% block TopFive %}
{% endblock %}
{% block qavidtxt %}
{% endblock %}
{% block login %}
{% endblock %}
{% block signup %}
{% endblock %}
{% block searchbar %}
<h5 id="searchbar">Search Guides</h5>
<div class="container">
    <div class="row">
        <div class="span12">
            <form id="custom-search-form" class="form-search form-horizontal pull-right">
                <div class="input-append span12">
                    <input type="text" class="search-query" placeholder="Search">
                    <button type="submit" class="btn btn-link"><i class="icon-search"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block qavids %}
{% block subscribe %}
{% endblock %}
{% for videos in video_info %}
<div class="container">
    <div class="row">
        <div id="video1" class="col-md-4">
            <span class="video"><iframe width="450" height="250" src="{{ videos.link }}" frameborder="0" allowfullscreen></iframe></span>
            <h4 id="videotitle">{{ videos.title }}</h4>
            <p class="video2">{{ videos.description }}</p>
        </div>
        <hr id="vidhr">
        <div class="col-md-4">
            <span><div><img id="guideimg" src="/media/{{ videos.guide_image }}"></div></span>
        </div>
        <div id="guidePP"class="col-md-4">
            <span><div class="viddes">{{ videos.guide_name }}</div></span>
            <span><div class="viddes2">{{ videos.guide_description }}</div></span>
            <span><div class="viddes3">£{{ videos.guide_price }}</div></span>
            <span><div class="viddes4">{{ videos.paypal_form.sandbox }}</div></span>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}


