{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}
{% endblock %}
{% block carousel %}
{% endblock %}
{% block vscroll %}
{% endblock %}
{% block video %}
{% endblock %}
{% block qavids %}
{% endblock %}
{% block login %}
{% endblock %}
{% block TopFive %}
{% endblock %}
{% block subscribe %}
{% endblock %}
{% block titles %}<div id="reviewtitle" class="container"><strong><h4>Latest Reviews</h4></strong>{% endblock %}
{% block newsarticle %}
{% for article in article_info %}
    <div class="col-md-2 col-sm-3 text-center">
       <a href="/media/{{ article.image }}">
           <img src="/media/{{ article.image }}" id="article-img">
       </a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="articleText">
    <br>
    <br>
    <strong><h3 class="articleHeader">{{ article.headline }}</h3></strong>
    <div class="articlecontent">
    <p>{{ article.content|safe|truncatewords:"50"|linebreaks }}
    <p><button class="btn btn-default" onclick="location.href='/reviewsdetail/{{article.id}}'">Read More</button></p>
    </div>
    <p class="artbottxt"><strong>Last updated by:</strong> {{ article.reporter.full_name }}</p>
    <p class="artbottxt"><strong>Published on:</strong> {{ article.pub_date|date:"F j, Y" }}</p>
    <p class="artbottxt"><strong>Rating:</strong> {{ article.rating}}</p>
    <br>
    <hr id="articlehr">
    </div>
{% endfor %}
{% endblock %}

{% block highestrated %}
<div class="col-md-4" id="highr">
    <div id="hrcon" class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>Highest Rated: October 2017</h4>
          <ol id="rolreview">
           <li>
             <div>
               <img class="reviewsimg" src="{% static "images/ZeldaBOWR.jpg" %}">
              <div class="container">
               <p class="reviewp">The Legend of Zelda: Breath of the Wild</p>
              </div>
           </li>
           <li>
             <div>
               <img class="reviewsimg" src="{% static "images/Shadowofwar.jpg" %}">
              <div class="container">
               <p class="reviewp">Middle-earth: Shadow of War</p>
              </div>
           </li>
           <li>
             <div>
               <img class="reviewsimg" src="{% static "images/Destiny2R.jpg" %}">
              <div class="container">
               <p class="reviewp">Destiny 2</p>
              </div>
           </li>
           <li>
             <div>
               <img class="reviewsimg" src="{% static "images/callofdutyww2R.jpg" %}">
              <div class="container">
               <p class="reviewp">Call Of Duty: World War 2</p>
              </div>
           </li>
           <li>
             <div>
               <img class="reviewsimg" src="{% static "images/DivinityOS2R.jpg" %}">
              <div class="container">
               <p id="dobott" class="reviewp">Divinity Original Sin 2</p>
              </div>
           </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
{% endblock %}




