html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: Arial;
    background-color: #f5f5f5;
    color: #202020;
}

/*Home Page*/

img#wrapperimg{
  float: left;
  width: 185px;
  height: 52px;
  margin-left: -15px
}

.dashboard{
  width: 100%;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #686868;
}

.panel{
  height: 250vh;
  width: 96%;
  float: left;
  margin-bottom: -8%;
}

div.panel-body{
    padding: 15px;
    padding-top: 27px;
}

.v-scroll{
  overflow: scroll;
}

div.panel.v-scroll{
    background-color: #E8E8E8;
    margin-left: 20.5%;
}

.col-xs-9{
    width: 100%;
}


.navbar-form input, .form-inline input {
    width: auto;
}

div.navbar.navbar-inverse.navbar-static-top{
   border-bottom: 1px #f5f5f5;
}

hr#carouhr{
    width: 921.9px;
    margin-left: 14.4%;
    background-color:#BEBEBE;
    height: 1px;
    border: 0;
}

div#TopFive.col-md-4 {
    margin-top: -54px;
    margin-left: 1.2%;
    width: 20%;
}

#TopFive h4 {
    color:black; 
    margin-bottom: 27px;
    margin-left: 8.3%;
}

button.btn.btn-primary{
    width: 564%;
    height: 56px;
    margin-bottom: 10px;
    border-radius: 0px;
}

div.container-fluid{
    background-color: #ea1717;
}

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

div.navbar.navbar-inverse.navbar-bottom{
    margin-bottom: -40px;
    margin-left: -1%;
    margin-right: -1%
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color:black;
    background-color:  #ea1717;;
}


div#posthead{
    margin-left: 6.7%;
    margin-bottom: 2%;
    margin-top: 2%;
}

#posthead h4 {
    color:black; 
    margin-left: 8.2%;
}

h3#posttitle {
    color: black;
    font-size: 19px;
}

h3#posttitle2{
    color: black;
    font-size: 19px;
}

hr#posthr{
    margin-top: 20px;
    margin-bottom: 53px;
    border: 0;
    border-top: 1px solid #686868;
    width: 100.4%;
    margin-left: 0%;
}

div#postxt.col-xs-9{
    width: 120%;
}

div#postxt2.col-xs-9{
    width: 120%;
}

img.rhomeimg{
    width: 323px;
    height: 175px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

ol#rolhome{
    margin-left: 58px;
    font-weight: bold;
}

p.rhomep{
    margin-top: 10px;
    margin-left: -14.3px;
    margin-bottom: 3%;
    font-size: 11px;
}

div#subcribehm.row{
    margin-left: 61.3%;
    margin-top: -32%;
    width: 30%;
    font-size: 12px;
}

div.thumbnail.center.well.well-small.text-center{
    background-color: #E8E8E8;
    border: 1px solid #E8E8E8;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

img#newsimg{
    width: 60px;
    height: 60px;
    margin-bottom: 7px;
}

input#newssubscribe.btn.btn-large{
   color: #555555;
   background-color: #ffffff;
   border-color: rgba(0, 0, 0, 0.1)
}

h1, h1 a {
    color: #555555;
    text-decoration: none;
}

h5 {
    font-size: 13.2px;
    color: #202020;
}

#masthead {
    padding-left:10px;
    min-height: 199px;
}

#masthead h1 {
    font-size: 55px;
    line-height: 1;
    margin-top: 50px;
}

#masthead .well{
    margin-top: 31px;
    min-height: 127px;
}

.navbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
}

#logo {
    color: #12AB82;
}

img#post-img{
    margin-top: -13px;
    margin-left: 0;
    width: 500px;
    height: 280px;
}

a, a:hover {
    color: #223344;
    text-decoration: none;
}

.icon-bar {
    background-color: #fff;
}

.dropdown-menu {
    min-width: 250px;
}

.panel {
    border-color: transparent;
    border-radius: 0;
}

.thumbnail {
    margin-bottom: 8px;
}

.img-container {
    overflow: hidden;
    height: 170px;
}

.img-container img {
    min-width: 280px;
    min-height: 180px;
    max-width: 380px;
    max-height: 280px;
}

.txt-container {
    overflow: hidden;
    height: 100px;
}

.panel .lead {
    overflow: hidden;
    height: 90px;
}

.label-float {
    margin: 0 auto;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    opacity: .9;
    padding: 6px;
    color: #fff;
}

div#myCarousel.carousel.slide{
    height: 290px;
    width: 920px;
    margin-top: -4px;
    margin-left: 185px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.carousel-caption {
    position: absolute;
    z-index: 1;
    display: table;
    width: 35%;
    margin-left: -10%;
    font-size: 13px;
}

.carousel-caption h2{
    color: white;
    font-size: 24px;
    font-weight: bold;
}

/*Reviews Page*/

h3.articleHeader{
    color: black;
    margin-top: 9%;
    font-size: 19px;
}

h3.articleHeader2{
   margin-bottom: 2%;
   color: black;
   margin-top: 9%;
   font-size: 19px;
}

div.articleText {
    padding-top: 28%;
}

img#article-img {
    margin-top: 2%;
    margin-left: -32%;
    width: 480px;
    height: 280px;
}

div.articlescroll{
    width: 509px;
    height: 212vh;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-left: 24.5%;
    margin-bottom: 3%;
    background-color: #E8E8E8;
    padding: 15px;
    padding-top: 11px;
}

div.articlecontent{
    text-align: justify;
    width: 476px;
}

hr#articlehr{
    margin-top: 8px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #686868;
    width: 100.3%;
}

div#highr.col-md-4{
    float: right;
    margin-right: 119px;
}

#highr h4{
    color: black;
    margin-bottom: 27px;
    margin-left: 1.2%;
    margin-top: -0px;
}

img.reviewsimg{
    width: 323px;
    height: 175px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

#reviewtitle h4{
    margin-left: -1.6%;
}

#reviewtitle2 h5{
    margin-left: -1.2%;
}

h4#reviewtitle2{
    margin-left: -3.2%
}

button.btn.btn-info{
    margin-left: -1.3%;
}

p.reviewp{
    margin-top: 10px;
    margin-left: -14.3px;
    margin-bottom: 3%;
    font-size: 12px;
    font-weight: bold;
}

ol#rolreview{
    font-weight: bold;
    margin-left: -2.3%
}

/*QA Corner Page*/

div.videoscroll{
    width: 1130px;
    height: 250vh;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-left: 5.5%;
}

div.viddes{
    margin-left: 6%;
    margin-top: 18%;
    color: #A8A8A8;
    font-weight:900;
}

div.viddes2{
    margin-left: 6%;
    margin-top: 4%;
    padding-right: 20px;
}

div.viddes3{
    margin-left: 6%;
    margin-top: 4%;
    font-weight: bold;
}

div.viddes4{
    margin-left: 15%;
    margin-top: -6.2%;
}

img#guideimg{
    width: 170px;
    height: 245px;
    margin-top: 11.8%;
    margin-left: 60%;
}

div#video1.col-md-4{
    margin-top: 2.5%;
}

p.video2{
    margin-bottom: 7%;
}

hr#vidhr{
    margin-top: -0.6%;
    margin-left: 1.3%;
    width: 94.4%;
}

div#logs.col-md-12{
    margin-top: 8%;
    margin-bottom: 8%;
}

input#id_username{
    width: 41%;
}

input#id_password{
    width: 41%;
    margin-left: 1.3px;
}

img#logsimg{
    margin-left: 41.1%;
    margin-bottom: 3%;
}

button#logsbutton{
    margin-top: 2%;
    margin-left: 16.8%;
    margin-bottom: 0.5%;
}

div#signs.modal-dialog{
    margin-bottom: 0;
    width: 59%;
}

img#signimg{
    margin-left: 42%;
    margin-bottom: 3%;
}

button#signbutton{
    margin-top: 7px;
}

div#signslog.col-md-12{
    margin-bottom: -25px;
}

div#signslab.panel-body{
    margin-left: 19%;
}

h5#searchbar{
    margin-left: 81.1%;
    margin-top: -3%;
    font-size: 15px;
    color: #A8A8A8;
}

form#custom-search-form.form-search.form-horizontal.pull-right{
    margin-bottom: 20px;
}

/*Login Page*/

div.modal-content{
    background-color: #E8E8E8;
}




@media screen and (min-width: 768px) {
    #masthead h1 {
        font-size: 80px;
    }
}

