{% load static from staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=0.9">
    <title>The QA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/QAblog.css" %}">
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
    <link rel="stylesheet" href="{% static "font-awesome-4.7.0/css/font-awesome.min.css" %}">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"/>
</head>

<body>

<div class="outer-wrapper">

<header id="header">
  <div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
      <img id="wrapperimg" src="{% static "images/TheQA.png" %}" alt="My image"/>
        <div class="navbar-header">

          <a class="navbar-brand" href="./"></a>

          <ul class="nav navbar-nav">
              <li class="navtxt"><a href="{%  url 'home' %}">Home</a></li>
              <li class="navtxt"><a href="{%  url 'reviews' %}">Reviews</a></li>
              <li class="navtxt"><a href="{%  url 'qa_corner' %}">QA Corner</a></li>
              {% if user.is_authenticated %}
                 <li class="navtxt"><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                 <li class="navtxt"><a href="{% url 'login' %}">Log In</a></li>
                 <li class="navtxt"><a href="{%  url 'signup' %}">Sign Up</a></li>
              {% endif %}
          </ul>
        </div>
    </div>
  </div>
</header>

{% block carousel %}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="10000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="{% static "images/Arkham_city.jpg" %}" alt="">
          <div class="carousel-caption">
            <h2><b>Batman: Arkham City</b></h2>
            <p>New easter egg found three years after launch.Find out how to unlock the hidden easter
               egg that’s been left undiscovered until now.<!--Image credit (batman_arkham_origins_joker_red_cap_warner_bros_interactive_entertainment_devil_gotham_gotemsky_ripper_mr_jay_96368_1920x1200, 
               by Peter Pham, Flickr, used under https://creativecommons.org/licenses/by/4.0/)--></p>
        </div>
    </div>

    <div class="item">
      <img src="{% static "images/mkombat.jpg" %}" alt="">
        <div class="carousel-caption">
            <h2><b>Mortal Kombat X</b></h2>
            <p>Several reports suggest that the third expansion pack for 'Mortal Kombat X' will be released next year. 
               There has been no official confimation from NetherRealm Studios but according to the reports
               we should expect one in the coming weeks.<!--Image credit (Mortal Kombat X Receives A 15GB Update On PC, by BagoGames, Flickr,
               used under https://creativecommons.org/licenses/by/4.0/)-->></p>
        </div>
    </div>

    <div class="item">
      <img src="{% static "images/Witcher_3.png" %}" alt="">
        <div class="carousel-caption">
            <h2><b>Witcher 3: Wild Hunt</b></h2>
            <p>CD Project Red working on 4k version of Witcher 3 which will be released on the PS4 Pro at the end of September
               and will be available on the Xbox One by the end of the year.<!--Image credit (The-Witcher-586526, 
               by dxiri, Flickr, used under https://creativecommons.org/licenses/by/4.0/)--></p>
        </div>
    </div>

     <div class="item">
      <img src="{% static "images/Unchartered4.jpg" %}" alt="">
        <div class="carousel-caption">
            <h2><b>Unchartered 4: Lost Legacy</b></h2>
            <p>The monthly figures are out for digital gaming sales this month. The highlight is the apperance of Uncharted: 
               The Lost Legacy in the Top 10, having taken the number four sport with £1.44m.<!--Image credit (Nathan Drake Gets His 
               Close-Up in Uncharted 4, by BagoGames, Flickr, used under https://creativecommons.org/licenses/by/4.0/)--></p>
        </div>
    </div>

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<hr id="carouhr">
{% endblock %}

{% block popularstories %}

<div class="homeimghead"><h4>Popular Stories</h4></div>
<div class="container">
 <div class="row">
   <div class="col-md-12">
     <div id="homeimgrow" class="row">
      <div class="col-md-3"><a href="/home/3/"><img class="thumbnail" src="{% static "images/razerhp.jpg" %}" alt="Image" style="max-width:100%;"></a><div class="homeimgtxt">Razer making a gaming smartphone</div></div><!--Image credit 
      ( File:E3 2011 - Razer booth (5822107851).jpg, by Wikimedia Commons, used under https://creativecommons.org/licenses/by/4.0/)-->

      <div class="col-md-3"><a href="/home/2/"><img class="thumbnail" src="{% static "images/xboxonexhp.jpg" %}" alt="Image" style="max-width:100%;"></a><div class="homeimgtxt">Introducing the Xbox One X</div></div><!--Image credit 
      ( All Xbox One model, by Wikimedia Commons, used under https://creativecommons.org/licenses/by/4.0/)-->

      <div class="col-md-3"><a href="/home/1/"><img class="thumbnail" src="{% static "images/codww2hp.jpg" %}" alt="Image" style="max-width:100%;"></a><div class="homeimgtxt">Call Of Duty WW2 now available for pre-load (PC Only)</div></div><!--Image credit 
      ( Call of Duty: WWII Trailer Takes Players a Long Way From Texas, by BagoGames, Flickr, used under https://creativecommons.org/licenses by/4.0/)-->

      <div class="col-md-3"><a href="/home/4/"><img class="thumbnail" src="{% static "images/PS5hp.jpg" %}" alt="Image" style="max-width:100%;"></a><div class="homeimgtxt">PS5 set for 2020 release</div></div><!--Image credit 
      ( File:PlayStation 4 Pro and PlayStation 4 Slim sample, Taipei IT Month 20161211.jpg, by Wikimedia Commons, used under https://creativecommons.org/licenses by/4.0/)-->
     </div>
   </div>
 </div>
</div>

<hr id="carouhr">

{% endblock %}

{% block login %}
{% endblock %}

{% block logout %}
{% endblock %}

{% block signup %}
{% endblock %}

<div id="posthead">
    <h4>{% block title %}Latest News{% endblock %}</h4>
</div>
<div id="posthead2">
    <h4>{% block titles %}{% endblock %}</h4>
</div>
{% block vscroll %}
<div class="container">
<div class="row">
    <div class="col-md-6">
      <div class="dashboard">
            <div class="panel v-scroll">
                <div class="panel-body">
                    <!--blog entries-->
                    {% block content %}
                    {% endblock %}
                    <!--blog entries-->
                </div>
            </div>
      </div>
    </div>
{% endblock %}

{% block searchbar %}
{% endblock %}

{% block highestrated %}
{% endblock %}

{% block qavidtxt %}
{% endblock %}

{% block reviewscroll %}
<div>
<div class="articlescroll">
<!--article entries-->
{% block newsarticle %}
{% endblock %}
<!--article entries-->
</div>
</div>
{% endblock %}

{% block video %}
<div>
<div class="videoscroll">
<!--video entries-->
{% block qavids %}
{% endblock %}
<!--video entries-->
</div>
</div>
{% endblock %}

{% block qavids2 %}
{% endblock %}

{% block TopFive %}
    <div class="col-md-4" id="TopFive">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>Top Five: October 2017</h4>
          <ol id="rolhome">
           <li>
             <div>
               <img class="rhomeimg" src="{% static "images/ZeldaBOW.jpg" %}">
              <div class="container">
               <p class="rhomep">The Legend of Zelda: Breath of the Wild (Nintendo Switch)</p>
              </div>
           </li>
           <li>
             <div>
               <img class="rhomeimg" src="{% static "images/Horizon.jpg" %}">
              <div class="container">
               <p class="rhomep">Horizon: Zero Dawn (Playstation 4)</p>
              </div>
           </li>
           <li>
             <div>
               <img class="rhomeimg" src="{% static "images/prey.png" %}">
              <div class="container">
               <p class="rhomep">Prey (Playstation 4, Xbox One, PC)</p>
              </div>
           </li>
           <li>
             <div>
               <img class="rhomeimg" src="{% static "images/mariokartdeluxe.jpg" %}">
              <div class="container">
               <p class="rhomep">Mario Kart 8 (Nintendo Switch, Wii U)</p>
              </div>
           </li>
           <li>
             <div>
               <img class="rhomeimg" src="{% static "images/injustice_2.jpg" %}">
              <div class="container">
               <p class="rhomep">Injustice 2 (PlayStation 4, Xbox One, Android, iOS)</p>
              </div>
           </li>
          </ol>
        </div>
      </div>
    </div>
    </div>
{% endblock %}

{% block subscribe %}
<div class="container">
<div id="subcribehm" class="row">
            <div class="span12">
              <div class="thumbnail center well well-small text-center">
                <img id="newsimg" src="/static/images/logoA.png" alt="">
                <p>Subscribe to our weekly Newsletter.</p>
                <form>
                     <br />
                    {% if user.is_authenticated %}
                      <input id="newssubscribe" value="Subscribe Now!" class="btn btn-large" />
                    {% else %}
                      <li id="subsbox"><a href="{% url 'login' %}"><strong id="subsboxtxt">Log in to subscribe</strong></a></li>
                    {% endif %} 
              </form>
              </div>    
            </div>
          </div>
        </div>
  {% endblock %}
  
<footer>
    <div class="navbar navbar-inverse navbar-bottom">
      <div class="container-fluid">
        <a class="navbar-brand" href="./"></a>
          <ul class="nav navbar-nav">
              <li class="navtxt"><a href="{%  url 'home' %}">Home</a></li>
              <li class="navtxt"><a href="{%  url 'reviews' %}">Reviews</a></li>
              <li class="navtxt"><a href="{%  url 'qa_corner' %}">QA Corner</a></li>
              {% if user.is_authenticated %}
                 <li class="navtxt"><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                 <li class="navtxt"><a href="{% url 'login' %}">Log In</a></li>
                 <li class="navtxt"><a href="{%  url 'signup' %}">Sign Up</a></li>
              {% endif %}
          </ul>
           <div class="row">
            <div class="col-lg-6">
              <strong id="socialbtns">Connect with us on:</strong><br>
               <a id="sbtn1" target="_blank" class="btn btn-social-icon btn-facebook" href="https://www.facebook.com"><span class="fa fa-facebook"></span></a>
               <a id="sbtn2" target="_blank" class="btn btn-social-icon btn-twitter" href="https://twitter.com"><span class="fa fa-twitter"></span></a>
               <a id="sbtn3" target="_blank" class="btn btn-social-icon btn-google" href="https://plus.google.com/explore"><span class="fa fa-google"></span></a>
            </div>
           </div>
      </div>
</footer>
</div>

<!-- script references -->
<script src="{% static "js/jquery-3.2.1.js" %}"></script>
<script src="{% static "js/QA-jquery.js" %}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
crossorigin="anonymous"></script>
<script src="{% static "font-awesome-4.7.0/css/font-awesome.min.css" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>

