{% extends 'base.html' %}
{% block carousel %}
{% endblock %}
{% block reviewscroll %}
{% endblock %}
{% block TopFive %}
{% endblock %}
{% block video %}
{% endblock %}
{% block qavids %}
{% endblock %}
{% block subscribe %}
{% endblock %}
{% block vscroll %}
{% endblock %}
{% block popularstories %}
{% endblock %}
{% block title %}{% endblock %}
{% block login %}
<div class="container">
  <div id="logs" class="col-md-12">
    <div class="modal-dialog" style="margin-bottom:0">
       <div class="modal-content">
          <div class="panel-heading">
          	  <img id="logsimg" src="/static/images/logoA.png" alt="">
          </div>
          <div id="signslab" class="panel-body">
              <form role="form">
                 <fieldset>
                   <form method="post">
    			   {% csrf_token %}
    			   {{ form.as_p }}
                   <button id="logsbutton" type="submit">Login</button>
                 </fieldset>
              </form>
          </div>
       </div>
    </div>
  </div>
</div>
{% endblock %}